@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}

.bg-main-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline-item {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  opacity: 0;
}

.timeline-item.left {
  transform: translateX(-50px);
}

.timeline-item.right {
  transform: translateX(50px);
}

.timeline-item.visible {
  opacity: 1;
  transform: translateX(0);
}

#componentesBtn,
#closeModalBtn,
.modal-trigger {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  pointer-events: none;
}

.modal-overlay:not(.hidden) {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  position: relative;
  background-color: white;
  color: #333;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.modal-overlay:not(.hidden) .modal-content {
  transform: scale(1);
}
